.modal{
    position:absolute;
    float: left;
    background-color: black;
    z-index: 1000;
    top:0;
    right:0;
    font-family: monospace;
    padding:10px;
    display: flex;
    justify-content: space-between;
    width: 15vw;
    height:'auto';
    
    border-top-right-radius:15px;
    border-top-left-radius:15px;
    border-bottom-right-radius:15px;
    border-bottom-left-radius:15px;

    -webkit-animation: fadein 3s; /* Safari, Chrome and Opera > 12.1 */
       -moz-animation: fadein 3s; /* Firefox < 16 */
        -ms-animation: fadein 3s; /* Internet Explorer */
         -o-animation: fadein 3s; /* Opera < 12.1 */
            animation: fadein 3s; 
}

@keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Firefox < 16 */
@-moz-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Safari, Chrome and Opera > 12.1 */
@-webkit-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Internet Explorer */
@-ms-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}